@model IEnumerable<IdentityRole>;
@{
	ViewBag.Title = "角色列表";
}

@if (Model.Any())
{
	<a class="btn btn-outline-success mb-3 mt-3" style="width:auto" asp-controller="Admin" asp-action="CreateRole">添加角色</a>

	foreach (var item in Model)
	{
		<div class="card mb-3">
			<div class="card-header">角色ID：@item.Id</div>
			<div class="card-body">
				<h5 class="card-title">角色名称：@item.Name</h5>
			</div>
			<div class="card-footer">
				<form method="post" asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@item.Id">

					<a class="btn btn-outline-primary" asp-controller="Admin" asp-action="EditRole" asp-route-id="@item.Id">编辑</a>

					<span id="confirmdelete_@item.Id" style="display:none">
						<span>确定要删除 @item.Name 吗？</span>
						<button type="submit" class="btn btn-outline-danger">确定</button>
						<a class="btn btn-outline-info" href="#" onclick="confirmDelete('@item.Id', false)">取消</a>
					</span>

					<span id="deleteSpan_@item.Id">
						<a class="btn btn-outline-danger" href="#" onclick="confirmDelete('@item.Id', true)">删除</a>
					</span>
				</form>
			</div>
		</div>
	}
}
else
{
	<div class="card">
		<div class="card-header">
			尚未创建角色
		</div>
		<div class="card-body">
			<h5 class="card-title">点击下方按钮创建角色</h5>
		</div>
		<div class="card-footer mt-3">
			<a class="btn btn-outline-success mb-3 " style="width:auto" asp-controller="Admin" asp-action="CreateRole">添加角色</a>
		</div>
	</div>

}