@model IEnumerable<ApplicationUser>
@{
	ViewBag.Title = "用户列表";
}


@if (Model.Any())
{
	<a asp-controller="Account" asp-action="Register" class="btn btn-outline-info mb-3 mt-2">创建用户</a>

	foreach (var item in Model)
	{
		<div class="card mb-3">
			<div class="card-header">用户ID：@item.Id</div>
			<div class="card-body">
				<h5 class="card-title">用户名：@item.UserName</h5>
			</div>
			<div class="card-footer">
				<form method="post" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@item.Id">

					@using Microsoft.AspNetCore.Authorization;

					@inject IAuthorizationService authorService;

					@if ((await authorService.AuthorizeAsync(User, "AdminPolicy")).Succeeded)
					{
						<a asp-action="EditUser" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-outline-warning">编辑</a>

						<span id="confirmdelete_@item.Id" style="display:none">
							<span>确定要删除 @item.UserName 吗？</span>
							<button type="submit" class="btn btn-outline-danger">确定</button>
							<a class="btn btn-outline-info" href="#" onclick="confirmDelete('@item.Id', false)">取消</a>
						</span>

						<span id="deleteSpan_@item.Id">
							<a class="btn btn-outline-danger" href="#" onclick="confirmDelete('@item.Id', true)">删除</a>
						</span>
					}
				</form>
			</div>
		</div>
	}
}
else
{
	<div class="card">
		<div class="card-header">
			尚未创建用户
		</div>
		<div class="card-body">
			<h5>点击下方创建用户</h5>
			<a asp-controller="Account" asp-action="Register" class="btn btn-outline-info mb-3 mt-2">创建用户</a>
		</div>
	</div>
}